@import url('https://fonts.googleapis.com/css2?family=Lato:ital@0;1&family=Playwrite+NL+Guides&display=swap');

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {

  font-family: "Lato", serif;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: antiquewhite;
  background-image: url('/background.webp'); /* Path to the image */
  background-size: cover; /* Makes the image cover the entire background */
  background-repeat: no-repeat; /* Prevents the image from repeating */
  background-position: center; /* Centers the image */
}